<h3>Manage Brand</h3>
    <a class='add-data'>Create Brand</a>
    <hr />
    <table class="table table-striped mb-4">
    <thead>
    <tr>
        <th scope="col">!#</th>
        <th scope="col">Name</th>
        <th scope="col">Date</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>Samsung</td>
        <td>2025-02-20</td>
        <td>
        <a class='action-link'>Edit</a> | <a class='action-link'>Delete</a>
        </td>
    </tr>
    </tbody>
</table>

<hr class='mt-2' />

<div class='mt-4'>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
            <a href="!#" class="page-link">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="!#">1</a></li>
            <li class="page-item"><a class="page-link" href="!#">2</a></li>
            <li class="page-item"><a class="page-link" href="!#">3</a></li>
            <li class="page-item">
            <a class="page-link" href="!#">Next</a>
            </li>
        </ul>
    </nav>
</div>
