<div class="form-group col-lg-8">
    <form (ngSubmit)="updateUser()">
    <h3>Update User</h3>
    <hr />
    <div class="row">
        <app-alert *ngIf="showAlert" [errorData]="alertDetails" (close)="closeAlert()" />
        <div class="col-lg-6">
            <div class="mb-3">
                <label class="form-label">User Name:</label>
                <input type="text" class="form-control mb-3" [(ngModel)]="user.user_name" name="user_name" placeholder="User Name" />
            </div>
            <div class="mb-3">
                <label class="form-label">User Email:</label>
                <input type="text" class="form-control mb-3" [(ngModel)]="user.email" name="email" placeholder="User Email" />
            </div>
            <!-- <div class="mb-3">
                <label class="form-label">User Password:</label>
                <input type="text" class="form-control mb-3" [(ngModel)]="user.password" name="password" placeholder="User Password" />    
            </div> -->
            <div class="mb-3">
                <label class="form-label">User Phone:</label>
                <input type="text" class="form-control mb-3" [(ngModel)]="user.phone" name="phone" placeholder="User Phone" />    
            </div>
        </div>
        <div class="col-lg-6">
            <div class="mb-3">
                <label class="form-label">User Country:</label>
                <input type="text" class="form-control mb-3" [(ngModel)]="user.country" name="country" />
            </div>
            <div class="mb-3">
                <label class="form-label">User State:</label>
                <input type="text" class="form-control mb-3" [(ngModel)]="user.state" name="state" />
            </div>
            <div class="mb-3">
                <label class="form-label">User City:</label>
                <input type="text" class="form-control mb-3" [(ngModel)]="user.city" name="city" />
            </div>
            <div class="mb-3">
                <label class="form-label">User Zipcode:</label>
                <input type="text" class="form-control mb-3" [(ngModel)]="user.zipcode" name="zipcode" />
            </div>
        </div>
    </div>
    <hr />

    <button type="submit" class="btn btn-primary fw-bold ps-4 pe-4">Update User</button>
    <a class='cancel-data' routerLink="/admin/user/list">Cancel</a>
    </form>
</div>