<div class="form-group col-lg-8">
    <h3>Add User</h3>
    <hr />
    <div class="row">
        <app-alert *ngIf="showAlert" [errorData]="alertDetails" (close)="closeAlert()" />
        <div class="col-lg-6">            
            <div class="mb-3">
                <label class="form-label">User Name:</label>
                <input type="text" class="form-control mb-3" [(ngModel)]="user.user_name" />
            </div>
            <div class="mb-3">
                <label class="form-label">User Email:</label>
                <input type="text" class="form-control mb-3" [(ngModel)]="user.email" />
            </div>
            <div class="mb-3">
                <label class="form-label">User Password:</label>
                <input type="text" class="form-control mb-3" [(ngModel)]="user.password" />    
            </div>
            <div class="mb-3">
                <label class="form-label">User Phone:</label>
                <input type="text" class="form-control mb-3" [(ngModel)]="user.phone" />    
            </div>
        </div>
        <div class="col-lg-6">
            <div class="mb-3">
                <label class="form-label">User Country:</label>
                <input type="text" class="form-control mb-3" [(ngModel)]="user.country" />
            </div>
            <div class="mb-3">
                <label class="form-label">User State:</label>
                <input type="text" class="form-control mb-3" [(ngModel)]="user.state" />
            </div>
            <div class="mb-3">
                <label class="form-label">User City:</label>
                <input type="text" class="form-control mb-3" [(ngModel)]="user.city" />
            </div>
            <div class="mb-3">
                <label class="form-label">User Zipcode:</label>
                <input type="text" class="form-control mb-3" [(ngModel)]="user.zipcode" />
            </div>
        </div>
    </div>
    <hr />
    <button (click)="addUser()" class="btn btn-primary fw-bold ps-4 pe-4">Add User</button>
    <a class='cancel-data' routerLink="/admin/user/list">Cancel</a>
</div>