<div class="form-group col-lg-4">
    <form (ngSubmit)="updateCategory()">
    <h3>Update Category</h3>
    <hr />
    <input type="text" class="form-control mb-3" [(ngModel)]="category.cat_name" name="cat_name" placeholder="Category Name" />
    <input type="text" class="form-control mb-3" [(ngModel)]="category.cat_desc" name="cat_desc" placeholder="Category Description" />
    <button type="submit" class="btn btn-primary fw-bold ps-4 pe-4">Update Category</button>
    <a class='cancel-data' href="/admin/category/list">Cancel</a>
    </form>
</div>