<!-- Category Form -->
<div class="form-group" *ngIf="showAdd">
    <h3>Add Category</h3>
    <input
    type="text"
    class="form-control mb-3"
    [(ngModel)]="category.cat_name"
    placeholder="Category Name"
    />
    <input
    type="text"
    class="form-control"
    [(ngModel)]="category.cat_desc"
    placeholder="Category Description"
    />
    <button (click)="createCategory()" class="btn btn-primary mt-2">Add Category</button>
    <hr />
</div>
  
    <!-- Categories List -->
    <!-- <ul class="list-group mt-4">
      <li
        *ngFor="let category of categories"
        class="list-group-item d-flex justify-content-between"
      >
        <span>{{ category.cat_name }}</span>
        <div>
          <button
            (click)="updateCategory(category._id!)"
            class="btn btn-warning btn-sm"
          >
            Edit
          </button>
          <button
            (click)="deleteCategory(category._id!)"
            class="btn btn-danger btn-sm"
          >
            Delete
          </button>
        </div>
      </li>
    </ul>
  </div> -->








<h3>Manage Category</h3>
<a (click)="createCategoryShow()" class='add-data' style="cursor: pointer;">Create Category</a>
<hr />
<table class="table table-striped mb-4">
    <thead>
    <tr>
        <th scope="col">!#</th>
        <th scope="col">Name</th>
        <th scope="col">Date</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let category of categories">
        <th scope="row">1</th>
        <td>{{ category.cat_name }}</td>
        <td>{{ category.createdAt }}</td>
        <td>
            <a (click)="updateCategory(category._id!)" class='action-link' style="cursor: pointer;">Edit</a> | 
            <a class='action-link'>Delete</a>
        </td>
    </tr>
    </tbody>
</table>

<hr class='mt-2' />

<div class='mt-4'>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
            <a href="!#" class="page-link">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="!#">1</a></li>
            <li clclassass="page-item"><a class="page-link" href="!#">2</a></li>
            <li class="page-item"><a class="page-link" href="!#">3</a></li>
            <li class="page-item">
            <a class="page-link" href="!#">Next</a>
            </li>
        </ul>
    </nav>
</div>
