<div class="form-group col-lg-8">
    <h3>Add About</h3>
    <hr />
    <form (ngSubmit)="onUpload()" #serviceForm="ngForm">
        <div class="mb-3">
            <label class="form-label">About Title</label>      
            <input type="text" class="form-control mb-3" [(ngModel)]="about.ab_name" name="ab_name" />
        </div>

        <div class="mb-3">
            <label class="form-label">About Content</label>   
            <textarea class="form-control mb-3" [(ngModel)]="about.ab_desc" name="ab_desc" rows="6" ></textarea>
        </div>

        <div class="mb-3">
            <label class="form-label">About Image:</label>
            <input type="file" class="form-control mb-3" (change)="onFileSelected($event)" name="ab_image" />

        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary fw-bold ps-4 pe-4">Add About</button>
            <a class='cancel-data' routerLink="/admin/about/list">Cancel</a>
        </div>
    </form>
</div>