<div class="form-group col-lg-4">
    <form (ngSubmit)="updateCategory()">
        <h3>Update Category</h3>
        <hr />
        <div class="mb-3">
            <label class="form-label">Category Name:</label>
            <input type="text" class="form-control mb-3" [(ngModel)]="category.cat_name" name="cat_name" />
        </div>
        <div class="mb-3">
            <label class="form-label">Category Description:</label>
            <textarea class="form-control mb-3" [(ngModel)]="category.cat_desc" name="cat_desc" rows="6"
                style="resize: none;"></textarea>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary fw-bold ps-4 pe-4">Update Category</button>
            <a class='cancel-data' href="/admin/category/list">Cancel</a>
        </div>
    </form>
</div>