
ul.custom-sidebar {
	border-radius: 10px !important;
}

ul.custom-sidebar li {
	background-color: green;
	
}

ul.custom-sidebar li a {
	color:  #fff!important;
	text-decoration: none;
}

ul.custom-sidebar li a.active {
	font-weight: bold;
	border-bottom: 2px solid #fff;
}

.action-link { 
	text-decoration: none;
	color: red;
	font-weight: bold;
}

.add-data {
	float: right;
    margin-top: -42px !important;
    border: 2px solid red;
    padding: 6px 16px;
    border-radius: 6px;
    background-color: red;
    color: white;
    text-decoration: none;
	font-weight: bold;
}

.cancel-data {
	float: right;
    border: 2px solid red;
    padding: 6px 16px;
    border-radius: 6px;
    background-color: red;
    color: white;
    text-decoration: none;
	font-weight: bold;
}

.border {
	border-radius: 10px !important;
}

/* list-category.component.css */
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    padding: 6px 12px;
    border: 2px solid;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 4px;
}

.pagination button[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
    padding: 6px 12px;
    color: rgba(0, 0, 0, 0.9);
    border: 2px solid;
    border-color: rgba(0, 0, 0, 0.7);
    background-color: white;
}

.pagination .active {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 6px 12px;
    border: 2px solid #007bff;
}

.pagination button:hover {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 6px 12px;
    border: 2px solid #007bff;
}

.pagination .pageCount { 
    margin-top: -8px; 
    font-size: 16px; 
    border: 2px solid #000; 
    padding: 8px 12px; 
    border-radius: 4px; 
}

textarea { resize: none !important; }
label { font-weight: bold; }
.header-hr1 { border-bottom: 2px solid #007bff !important; opacity: 0.9 !important; }
  