<ul class="list-group mt-3 custom-sidebar">
    <li class="list-group-item" aria-current="true">
      <a routerLink="/admin/dashboard" routerLinkActive='active'>Dashboard</a>
    </li>
    <li class="list-group-item" aria-current="true">
      <a routerLink="/admin/about" routerLinkActive='active'>Manage About</a>
    </li>
    <li class="list-group-item" aria-current="true">
      <a routerLink="/admin/contact" routerLinkActive='active'>Manage Contact</a>
    </li>
    <li class="list-group-item" aria-current="true">
      <a routerLink="/admin/faq" routerLinkActive='active'>Manage FAQ</a>
    </li>
    <li class="list-group-item" aria-current="true">
      <a routerLink="/admin/portfolio" routerLinkActive='active'>Manage Portfolio</a>
    </li>
    <li class="list-group-item" aria-current="true">
      <a routerLink="/admin/service" routerLinkActive='active'>Manage Service</a>
    </li>          
    <li class="list-group-item" aria-current="true">
      <a routerLink="/admin/brand" routerLinkActive='active'>Manage Brand</a>
    </li>
    <li class="list-group-item" aria-current="true">
      <a routerLink="/admin/category" routerLinkActive='active'>Manage Category</a>
    </li>
    <li class="list-group-item" aria-current="true">
      <a routerLink="/admin/product" routerLinkActive='active'>Manage Product</a>
    </li>
    <li class="list-group-item" aria-current="true">
      <a routerLink="/admin/order" routerLinkActive='active'>Manage Order</a>
    </li>
    <li class="list-group-item" aria-current="true">
      <a routerLink="/admin/product-enquiry" routerLinkActive='active'>Manage Product Enquiry</a>
    </li>
    <li class="list-group-item" aria-current="true">
      <a routerLink="/admin/user" routerLinkActive='active'>Manage User</a>
    </li>
  </ul>
